# Project Name: RundeeEngine
# File Name: .gitignore
# Author: Haneul Lee
# Date: 2025.05.30
# Description: .gitignore file to manage unnecessary files when commit

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

.DS_Store
Thumbs.db

*.exe
*.dll

*.log
*.tmp

# .vs files
/RundeeEngine/.vs

# Builded files
/RundeeEngine/x64
/RundeeEngine/RundeeEngine/x64
/RundeeEngine/Sandbox/x64